<!DOCTYPE html>
<html>
<head>
	<title>Musicmashup Jukebox</title>
	<script
	  src="https://code.jquery.com/jquery-3.1.0.min.js"
	  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
	  crossorigin="anonymous"></script>
</head>
<body>
<h1>Musicmashup Jukebox</h1>

<p>prepare for awesomness</p>
<ul>
	<li><a href="/rooms">Go to a room</a></li>
	<li><a href="/api">Take a look at the api</a></li>
</ul

<p>Built at <a href="http://hackzurich.ch/" target="_blank">HackZurich 2016</a></p>
</body>

</html>