<!DOCTYPE html>
<html>
<head>
	<title>Simple Chat Room</title>
	<script
	  src="https://code.jquery.com/jquery-3.1.0.min.js"
	  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
	  crossorigin="anonymous"></script>
</head>
<body>
<h1>Musicmashup Jukebox Room</h1>

<blockquote>
	<h2>Create new room</h2>
	<form>
		Username: <input type="text"></input><br/>
		Roomname <input type="text"></input><br/>
		<button onclick="alert('not implemented :-)')" id="text-submit">Create Room</button>
	</form>
</blockquote>

<blockquote>
	<h2>Join existing room</h2>
	<form>
		Roomname <input type="text"></input><br/>
		<button onclick="alert('not implemented :-)')" id="text-submit">Join</button>
	</form>
</blockquote>

</html>