<!DOCTYPE html>
<html>
<head>
	<title>Simple Chat Room</title>
	<script
	  src="https://code.jquery.com/jquery-3.1.0.min.js"
	  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
	  crossorigin="anonymous"></script>
</head>
<body>
<h1>Musicmashup Jukebox Room {{ room.name }}</h1>

{% if not room %}
Raum nicht gefunden
{% else %}


<div style="height: 300px; overflow-y: scroll;">
	<ul id="chat">
	</ul>
</div>

<input type="text" id="text-in"></input><button onclick="sendtext()" id="text-submit">Send</button>

{% endif %}

</body>
<script type="text/javascript">
	// Note that the path doesn't matter for routing; any WebSocket
	// connection gets bumped over to WebSocket consumers
	var socket = new WebSocket("wss://" + window.location.host + "/rooms/" + {{room.id}});
	socket.onopen = function() {
	    console.log("connected");
	}
	socket.onmessage = function(e) {
		$('#chat').append("<li>"+e.data+"</li>")
		console.log("Message received");
	}

	$('#text-in').on('keypress', function (e) {
		/* check if enter is pressed */
        if(e.which === 13){
        	sendtext();
         }
   });

	function sendtext() {
		var text = $('#text-in').val();
		$('#text-in').val('');
		socket.send(text);
		console.log(text + " sent");
	}
</script>

</html>